
<ol class="chapter-menu">
    <li><a href="/mysql"style="text-decoration: none";">mysql syntax</a></li>
    <li><a href="/commandline"style="text-decoration: none">commandline syntax</a></li>
    <li><a href="/flask"style="text-decoration: none"> Flask</a></li>
    <li><a href="/sitepackages"style="text-decoration: none"> include module to site packages</a></li>
    <li><a href="/jinja2"style="text-decoration: none"> jinja2</a></li>
    <li><a href ="/csv"style="text-decoration: none">csv files</a></li>
    <li><a href ="/connectingToDatabase"style="text-decoration: none">ConnectingToDatabase</a></li>
    <li><a href ="/python"style="text-decoration: none">python essentials</a></li>
	<li><a href ="/css"style="text-decoration: none">css tips and tricks</a></li>
	<li><a href ="/html"style="text-decoration: none">html tips and tricks</a></li>
	<li><a href ="/js"style="text-decoration: none">javascript</a></li>
	<li><a href ="/jira"style="text-decoration: none">jira and QA</a></li>

</ol>
<!-- 
    
    http://127.0.0.1:8080/mysql this one is absolute path and have to change each one
    of them if 8080 is changed.so use just /mysql which is a relative path and more dynamic.

    Deployed to Heroku follwing tutorial at: https://dev.to/techparida/how-to-deploy-a-flask-app-on-heroku-heb


    To run the app: 
    python3 wsgi.py
    

    1. chapters.py is local startup file.
    2. main.py is for server startup file.

-->