{% extends 'basis.html' %}
{% block title %}
<title>css tips and styles</title>
{% endblock %}
{% block body %}
<ol>
	<li>
		Z-index does not work without position property.
	</li>
	<a href="/static/img/z-index.png" target ="blank"><img class = "img" src = "/static/img/z-index.png"></a>
	<li>
		Href in 'a' tag can take you to other page as well as any section of same page.We just have to put id of that section in the href quotes.
		<pre><code lang ="css"><"a class="nav-link" href="#footer"></code></pre>
	</li>
</ol>
{% endblock %}