{% extends 'basis.html' %}
{% block title %}
<title>css tips and styles</title>
{% endblock %}
{% block body %}
<ol>
	<li>
		Z-index does not work without position property.
	</li>
	<a href="/static/img/z-index.png" target ="blank"><img class = "img" src = "/static/img/z-index.png"></a>
	<li>
		Href in 'a' tag can take you to other page as well as any section of same page.We just have to put id of that section in the href quotes.
		<pre><code lang ="css"><"a class="nav-link" href="#footer"></code></pre>
	</li>
	<li>Grid layout</li>
	<a href="/static/img/grid.png"  class = "img" target = "blank" alt = "grid layout"><img class = "img" src = "/static/img/grid.png"></a>
	<li>Flexbox layout</li>
	<a href="/static/img/flex.png"  class = "img" target = "blank" alt = "flexbox layout"><img class = "img" src = "/static/img/flex.png"></a>
	<li>positioning</li>
	<a href="/static/img/position.png"  class = "img" target = "blank" alt = "positioning"><img class = "img" src = "/static/img/position.png"></a>
	<li>animation</li>
	<a href="/static/img/animation.png" class = "img" target = "blank" alt = "animation"><img class = "img" src = "/static/img/animation.png"></a>
</ol>
{% endblock %}