{% extends 'basis.html'%}
{% block title %}
<title>ModuleToSitepackages</title>
{% endblock %}
{%block body %}
<p class = "descText">Using “setuptools” to install into site-packages As of release 3.4 of Python, the standard library includes a module called setuptools, which can be used to add any module into site-packages.All we want to do here is install vsearch into site-packages, which is something setuptools is more than capable of doing in three steps:
    <p>
        <ol>
            <li>Create a distribution description.</li>
            <li>Generate a distribution file</li>
            <li>install the distribution file</li>
        </ol>
    </p>
</p>
<p class = "descText">
    Step 1 requires us to create (at a minimum) two descriptive files for our module: setup.py and README.txt in the same folder where vsearch is located.At this stage, you should have three files, which we have put in our mymodules folder: vsearch.py, setup.py, and README.txt.
</p>
<a href="/static/img/setup.png" target ="blank"><img class = "img" src = "/static/img/setup.png"></a>

<h1>creating distribution file on windows</h1>
<p class = "descText">If you are running on Windows, open a command prompt in the folder that contains your three files, then enter this command:</p>
<p><pre><code lang = "python">C:\Users\Head First\mymodules> py -3 setup.py sdist
The Python interpreter goes to work immediately after you issue this command. A large number of messages appear on screen (which we show here in an abridged form):
running sdist
running egg_info creating vsearch.egg-info
...
creating dist
creating 'dist\vsearch-1.0.zip' and adding 'vsearch-1.0' to it adding 'vsearch-1.0\PKG-INFO'
adding 'vsearch-1.0\README.txt'
...
adding 'vsearch-1.0\vsearch.egg-info\top_level.txt' removing 'vsearch-1.0' (and everything under it)
</code></pre></p>
When the Windows command prompt reappears, your three files have been combined into a single distribution file. This is an installable file that contains the source code for your module and, in this case, is called vsearch-1.0.zip.You’ll find your newly created ZIP file in a folder called dist,which has also been created by setuptools under the folder you are working in (which is mymodules in our case).
<h1>Distributon file on linux or mac </h1> 
<p class="descText"> If you are not working on Windows, you can create a distribution file in much the same way as on the previous page. With the three files (setup.py, README.txt, and vsearch.py) in a folder, issue this command at your operating system’s command line:</p>
<p><pre><code lang="python">mymodules$ python3 setup.py sdist
Like on Windows, this command produces a slew of messages on screen:
running sdist
running egg_info creating vsearch.egg-info
...
running check
creating vsearch-1.0
creating vsearch-1.0/vsearch.egg-info
...
creating dist
Creating tar archive
removing 'vsearch-1.0’ (and everything under it)
</code></pre></p>
<p class = "descText">
    When your operating system’s command line reappears, your three files have been combined into a source distribution file (hence the sdist argument above). This is an installable file that contains the source code for your module and, in this case, is called vsearch-1.0.tar.gz.
</p>
<h1>Time to install packages through pip(Package Installer for Python)</h1>
<p class = "descText">ON WINDOWS
Locate your newly created ZIP file under the dist folder (recall that the file is
called vsearch-1.0.zip). While in the Windows Explorer, hold down the Shift
key, then right-click your mouse to bring up a context-sensitive menu. Select Open command window here from this menu. A new Windows command prompt opens. At this command prompt, type this line to complete Step 3:</p>
<p ><pre><code>C:\Users\...\dist> py -3 -m pip install vsearch-1.0.zip</code></pre> 
If this command fails with a permissions error, you may need to restart the command
prompt as the Windows administrator, then try again.
When the above command succeeds, the following messages appear on screen:
<pre><code>Processing c:\users\...\dist\vsearch-1.0.zip Installing collected packages: vsearch Running setup.py install for vsearch
Successfully installed vsearch-1.0</code></pre>
</p>
<p class = "descText">
    On Linux, Unix, or Mac OS X, open a terminal within the newly created dict folder, and then issue this command at the prompt:
<pre><code lang = "python">.../dist$ sudo python3 -m pip install vsearch-1.0.tar.gz </code></pre>
When the above command succeeds, the following messages appear on screen:
<pre><code lang = "python">
Processing ./vsearch-1.0.tar.gz Installing collected packages: vsearch Running setup.py install for vsearch
Successfully installed vsearch-1.0
</code></pre>
</p>
<footer style = "font-family: fantasy" >Now that our vsearch module has been installed, we can use import vsearch in any of our programs, safe in the knowledge that the interpreter can now find the module’s functions when needed. To update any of the module’s code, we can repeat these three steps to install any update into site-packages. </footer>

{% endblock %}