{% extends 'basis.html' %}
{% block title %}
<title>Javascript</title>
{%endblock%}
{% block body %}
<p class="desctext">
	When we want to add  onclick event dynamically in javascript:
	<pre><code class="javascript">
		let span = document.createElement('span');
		span.addEventListener("click",function name);
	</code></pre>
	But when we want to pass parameter to our function:
	<pre><code class="javascript">
		let span = document.createElement('span');
		span.addEventListener("click",function(){Delete_item(list_id);});
		
	</code></pre>
</p>
{% endblock %}