{% extends 'basis.html' %}
{% block title %}
<title>mysql</title>
{% endblock %}
{% block body %}
<!-- <p><a href="http://127.0.0.1:8080/" id ="toTheRight">Back to contents</a></p> -->
<p class = "descText">Here’s the command to start the console, logging in as the MySQL database administrator (which uses the root user ID):</p>
<pre><code lang="python">mysql -u root -p</code></pre>
<p class = "descText">Here’s the console command that creates our database:
    <pre><code lang ="python">mysql> create database vsearchlogDB;</code></pre>
</p>
<p class = "descText">Here’s the SQL statement we used to create the required table (called log).
    <pre><code>mysql> create table log</code></pre>
    </p>
<p class = "descText">    
    This next command creates a new MySQL user called vsearch, uses “vsearchpasswd” as the new user’s password, and gives the vsearch user full rights to the vsearchlogDB database:
    </p>
    <pre><code lang="python">CREATE USER 'newuser'@'localhost' IDENTIFIED BY 'password';
GRANT ALL PRIVILEGES ON * . * TO 'newuser'@'localhost';</code></pre>
<p class = "descText">The asterisks in this command refer to the database and table (respectively) that they can access.</p>
<p class = "descText">Once you have finalized the permissions that you want to set up for your new users, always be sure to reload all the privileges.</p>
<pre><code lang="python">FLUSH PRIVILEGES;</code></pre>
<p class = "descText">
    To provide a specific user with a permission, you can use this framework:

<pre><code lang ="python">GRANT type_of_permission ON database_name.table_name TO 'username'@'localhost';</code></pre>
 
<p class = "descText">If you want to give them access to any database or to any table, make sure to put an asterisk (*) in the place of the database name or table name.

Each time you update or change a permission be sure to use the Flush Privileges command.

If you need to revoke a permission, the structure is almost identical to granting it:</p>

<pre><code lang ="python">REVOKE type_of_permission ON database_name.table_name FROM 'username'@'localhost';</code></pre>
 
<p class = "descText">Note that when revoking permissions, <b>the syntax requires that you use FROM, instead of TO </b>as we used when granting permissions.

You can review a user’s current permissions by running the following:</p>

<pre><code>SHOW GRANTS FOR 'username'@'localhost';</code></pre>
<p class = "descText"> 
Just as you can delete databases with DROP, you can use DROP to delete a user altogether:</p>

<pre><code lang ="python">DROP USER 'username'@'localhost';</code></pre>
</p>
<p class = "descText">The simplest thing is to cancel the query. However, you cannot just type \c in this case, because mysql interprets it as part of the string that it is collecting. Instead, enter the closing quote character (so mysql knows you've finished the string), then type \c:
    <pre><code>mysql> SELECT * FROM my_table WHERE name = 'Smith AND age < 30;
        '> '\c</code></pre></p>
    <P class = "descText">The prompt changes back to mysql>, indicating that mysql is ready for a new query.
    The `> prompt is similar to the '> and "> prompts, but indicates that you have begun but not completed a back-tick-quoted identifier.It is important to know what the '>, ">, and `> prompts signify, because if you mistakenly enter an unterminated string, any further lines you type appear to be ignored by mysql—including a line containing QUIT. This can be quite confusing, especially if you do not know that you need to supply the terminating quote before you can cancel the current query.</p>
<p class = "descText"><pre><code lang = "SQL">
    show databases; You can check the available databases 
    create database [db_name];
    use [db_name]; start using the database
    drop database [db_name]
    
    create table [table_name] (col1 , col2, col3 , col4......);
    General syntax while creating table :
    create table table_name(
        column_name dataType(int,text,varchar), column_constraint(see constraints_example video),
        last row doesn't include comma
    )
    --When in type we fill up (SERIAL which is appropriate for primary key constraint , we don't need to provide  any value for it as it automatically gets filled and incremented.)
    
    show tables;
    desc [tb_name]; it describes the table.
    drop table [table_name];
    
    --ALTER CLAUSE allows for change to an existing table structure like adding,dropping,renaming columns,changing data types,rename table
    alter table [old table name] rename to [new name];
    ALTER TABLE WORKER RENAME COLUMN PERSON TO pages
    alter table [table_name] add col1;

    -- when we have to alter the constraints of the table:
    ALTER TABLE WORKER ALTER COLUMN pages DROP NOT NULL
    
    --when we have forgotten to add  certain constraints to the table:
    ALTER TABLE TABLE_NAME
    ADD constaint_type (column_name);
    ALTER TABLE Students ADD UNIQUE(email);
    
    truncate table [table_name];
    
    insert into [table_name](id,name,city) values(12,'durgesh','delhi');  
    -- SQL INSERT INTO Statement is used to add new rows of data to a table in the database.
    insert into [table_name] values(12,'ankit','kanpur');
    
    
    update [table_name] set col= value , col = value where col=value;
    UPDATE favorites SET title="toy story first" where Title="Toy Story";

    --When we want to update according to information in another table:
    UPDATE table_name SET column_name = name of other table (.)the column from which we are retrieving the info
    from other table_name
    where both table_names whose info are same and can be used to join each other.

    UPDATE account_job
    SET hire_date = account.created_on
    FROM account
    WHERE account_job.user_id = account.user_id

    delete from [table_name] where col=value;
    --We can delete rows based on their presence in other tables too.
    DELETE FROM TableA USING TableB WHERE tableA.id = TableB.id;

    --we can delete and return it too containing the information about rows deleted just like update.
    DELETE FROM Job WHERE job_name = 'doc'
    returning job_id,job_name;

    SELECT COUNT(DISTINCT rating)FROM film;

    --SQL query to print details of the Workers whose FIRST_NAME contains 'a'.
    SELECT * FROM Worker where FIRST_NAME LIKE ‘%a%‘;

    --SQL query to print details of the Workers whose FIRST_NAME ends with 'a'.
    SELECT * FROM Worker where FIRST_NAME LIKE ‘%a’;

    --SQL query to print details of the Workers whose FIRST_NAME ends with 'h' and contains six alphabets.
    SELECT * FROM Worker where FIRST_NAME LIKE '%h%' AND   LENGTH(FIRST_NAME) = 6 ;

    --SQL query to print details of the Workers who have joined in Feb’2014
    SELECT * FROM Worker where year(JOINING_DATE) ='2014' and month(JOINING_DATE) = '2';
    
    --To print details of workers excluding first names, "Vipul" and "Satish" from Worker table.
    SELECT * FROM Worker where FIRST_NAME NOT IN(‘Vipul’,‘Satish’);
    

    Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.
    </code></pre></p>
<p class = "descText">Extract 3 characters from a string, starting in position 1:
    <pre><code lang ="python">SELECT SUBSTRING('SQL Tutorial', 1, 3)</code></p>
<p class = "descText">conactinating<pre><code lang="python">select CONCAT(FIRST_NAME,' ',LAST_NAME)FROM Worker;</code></pre></p>
<p class = "descText">COLLATE let us make our query case sensitive which  normally is insensitive.Here we are querying  for 'a' not 'A' in Amitabh and collate let us do that.We can do it in two ways : One when constructing a  new database and other when we are querying for something.At the time of constructing a database:</p>
<pre><code lang="python">CREATE DATABASE db_name
[[DEFAULT] CHARACTER SET charset_name]
[[DEFAULT] COLLATE collation_name]</code></pre>
<p class = "descText">charset refers to set of symbols and collate is the rules by which they are compared.We can't have any collation name.There is certain list of collation name and charset rules which we are bound to use.</p>
<pre><code lang="python">SELECT POSITION('a' in (SELECT FIRST_NAME FROM WORKER WHERE FIRST_NAME COLLATE utf8mb4_0900_as_cs ='Amitabh')COLLATE utf8mb4_0900_as_cs)</code></pre></pre>
<p class = "descText">When we need to replace, the pattern is (string from which replacement is to be done,old string,new one to be repalced with )</p>
<pre><code lang ="python">SELECT REPLACE(FIRST_NAME,'A','a')from Worker;</code></pre>

<p class = "descText">
    <pre><code lang = 'SQL'>
    -- To just print the date from the date section of database where there is date and time both ,use the function DATE(column name):
    SELECT DATE(PAYMENT_DATE) FROM payment; 
    </code></pre>
</p>

   <pre><code lang = "python"> mysql> use learn;

    mysql> show tables;
    +-----------------+
    | Tables_in_learn |
    +-----------------+
    | student         |
    +-----------------+
    1 row in set (0.00 sec)</code></pre>
    
<pre><code lang = "python">
mysql> select * from student;
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
|       23 | ankit   | delhi   | ind     |
|       24 | sanket  | lucknow | india   |
|      234 | ishant  | lucknow | india   |
|      246 | sumit   | lucknow | india   |
|     2334 | aman    | kanpur  | india   |
| 24234236 | ramsigh | lucknow | india   |
+----------+---------+---------+---------+
6 rows in set (0.00 sec)

</code></pre>
<pre><code lang = "python">
mysql> select * from student where city='lucknow';
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
|       24 | sanket  | lucknow | india   |
|      234 | ishant  | lucknow | india   |
|      246 | sumit   | lucknow | india   |
| 24234236 | ramsigh | lucknow | india   |
+----------+---------+---------+---------+
4 rows in set (0.00 sec)

</code></pre>
<pre><code class="python">mysql> select name,city,country from student where country='india';
    +---------+---------+---------+
    | name    | city    | country |
    +---------+---------+---------+
    | sanket  | lucknow | india   |
    | ishant  | lucknow | india   |
    | sumit   | lucknow | india   |
    | aman    | kanpur  | india   |
    | ramsigh | lucknow | india   |
    +---------+---------+---------+
</code></pre>
<pre><code class="python">
mysql> select distinct(country) from student;
+---------+
| country |
+---------+
| ind     |
| india   |
+---------+
2 rows in set (0.00 sec)

</code></pre>
<pre><code class="python"> 
mysql> select name as  "USERNAME" , city as "CITYNAME" from student ;
    +----------+----------+
    | USERNAME | CITYNAME |
    +----------+----------+
    | ankit    | delhi    |
    | sanket   | lucknow  |
    | ishant   | lucknow  |
    | sumit    | lucknow  |
    | aman     | kanpur   |
    | ramsigh  | lucknow  |
    +----------+----------+
    6 rows in set (0.00 sec)
</code></pre> 
Here 'as' works as ALIAS.It is allowed to be used only in SELECT statement.  
<p><pre><code lang = "python">
mysql> select name as  "USERNAME" , city as "CITYNAME" from student ;
+----------+----------+
| USERNAME | CITYNAME |
+----------+----------+
| ankit    | delhi    |
| sanket   | lucknow  |
| ishant   | lucknow  |
| sumit    | lucknow  |
| aman     | kanpur   |
| ramsigh  | lucknow  |
+----------+----------+
6 rows in set (0.00 sec)

mysql> select * from student limit 4;
+-----+--------+---------+---------+
| id  | name   | city    | country |
+-----+--------+---------+---------+
|  23 | ankit  | delhi   | ind     |
|  24 | sanket | lucknow | india   |
| 234 | ishant | lucknow | india   |
| 246 | sumit  | lucknow | india   |
+-----+--------+---------+---------+
4 rows in set (0.00 sec)

mysql> select * from student limit 2 offset 2;
+-----+--------+---------+---------+
| id  | name   | city    | country |
+-----+--------+---------+---------+
| 234 | ishant | lucknow | india   |
| 246 | sumit  | lucknow | india   |
+-----+--------+---------+---------+
2 rows in set (0.00 sec)

mysql> select * from student order by id; ( order arranges in ascending order.)
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
|       23 | ankit   | delhi   | ind     |
|       24 | sanket  | lucknow | india   |
|      234 | ishant  | lucknow | india   |
|      246 | sumit   | lucknow | india   |
|     2334 | aman    | kanpur  | india   |
| 24234236 | ramsigh | lucknow | india   |
+----------+---------+---------+---------+
6 rows in set (0.00 sec)

mysql> select * from student order by id desc; it arranges in descending order.
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
| 24234236 | ramsigh | lucknow | india   |
|     2334 | aman    | kanpur  | india   |
|      246 | sumit   | lucknow | india   |
|      234 | ishant  | lucknow | india   |
|       24 | sanket  | lucknow | india   |
|       23 | ankit   | delhi   | ind     |
+----------+---------+---------+---------+
6 rows in set (0.00 sec)

mysql> select * from student order by id desc limit 2;
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
| 24234236 | ramsigh | lucknow | india   |
|     2334 | aman    | kanpur  | india   |
+----------+---------+---------+---------+
2 rows in set (0.00 sec)

mysql> select * from student where name like 'a%';
+------+-------+--------+---------+
| id   | name  | city   | country |
+------+-------+--------+---------+
|   23 | ankit | delhi  | ind     |
| 2334 | aman  | kanpur | india   |
+------+-------+--------+---------+
2 rows in set (0.00 sec)

SELECT for searching the name which start with 'a'.If we put % at the beginnig,it will filter the names ending with a and if % is like this(%a%),it will come up with all those queries where a is used.
syntax for this :
select * from students where name Like  "%a%";

The following SQL statement selects all customers with a City starting with any character, followed by "ondon":

Example
SELECT * FROM Customers
WHERE City LIKE '_ondon';
lIKE IS CASE SENSITIVE WHEN ILIKE IS NOT. when instead of LIKE WE USE ILIKE IT DOESNOT MATTER WHETHER WE ARE SEARCHING FOR 'J' OR 'j'.Underscore allows only single character replacement but we can use many underscores at once.

mysql> select MIN(id) from student;
+---------+
| MIN(id) |
+---------+
|      23 |
+---------+
1 row in set (0.00 sec)

mysql> select name from student where id = (select MIN(id) from student) ;
+-------+
| name  |
+-------+
| ankit |
+-------+
1 row in set (0.00 sec)

mysql> select name from student where id = (select MAX(id) from student) ;
+-----------+
| name      |
+-----------+
| ram singh |
+-----------+
1 row in set (0.00 sec)

</code></pre></p>
<a href="static/img/connector.png" target="_blank">
    <img class = "img"src = "/static/img/connector.png"/>
</a>
<p class = "descText">The MySQL Connectors  are the drivers and libraries that you use to connect applications in different programming languages to MySQL database servers. The application and database server can be on the same machine, or communicate across the network.MySQL Connector/Python enables Python programs to access MySQL databases, using an API that is compliant with the Python Database API.</p>
<p class = "descText">SELECT UPPER(FIRST_NAME) FROM worker</p>   
</p>
<p class = "descText">Converting CSV file into MySQL database:</p>
<p class = "descText"><pre><code class="SQL">sqlite3 name of database
sqlite3 favorites.db
.mode csv
.import "csv file name" "sheet name where csv file will be converted into into a database"
.import favourites.csv favourites
-- Now we can use mysql syntaxes
.schema let us know of design of our database</code></pre>
</p>
<h3 class = "descText">GROUP_BY AND HAVING</h3>
<ol>
    <li>HAVING function comes after GROUP BY FUNCTION and allows us to filter after aggregation has already taken place.Aggregatiion takes place after group by statement,that's why we can't use it with WHERE clause  as it takes place before GROUP BY FUNCTION.To filter out the data on statements based on agregated functions like SUM(amount),we have to use HAVING and that also after GROUP BY FUNCTION.Filter with WHERE statement on SUM amount is not possible.</li>
    <p class = "descText">
<pre><code lang = 'SQL'>
SELECT customer_id,sum(amount) FROM payment
GROUP BY customer_id
HAVING SUM(amount) > 100
</code></pre></p>
    <li>GROUP BY comes after from clause or where clause,not after ORDER BY or others.</li>
    <li>GROUP BY  should includes all those columns which are included in select statement without using agregate function like MAX,AVG,COUNT.</li>
    <li>GROUP BY function is not called by agregate functions.  </li>
    <p class = "descText"><pre><code lang = 'SQL'>select customer_id, count(amount),sum(amount)FROM payment
        GROUP BY customer_id
        ORDER BY customer_id;
If there is some other column also after customer_id,it should be in GROUP BY call too but not count(amount),sum(amount) as they are agregate function.</code></pre></p>
</ol>
<video width="420" height="340" controls>
    <source src="/static/videos/groupBy.mkv" type="video/mp4">
    Your browser does not support the video tag.
  </video>
<video width="420" height="340" controls>
    <source src="/static/videos/groupByExamples.mkv" type="video/mp4">
    Your browser does not support the video tag.
</video>
<h3 class='descText'>JOINS</h3>
<p class = "descText">Finally join statement which let us query between two or more tables based on something that joins it.
    <dl>
        <dt>Inner Join</dt>
        <dd>Inner join produces only the set of records that match in both Table A and Table B.</dd>
        <pre><code lang = 'SQL'>
SELECT DISTINCT(title) FROM film inner join inventory ON film.film_id = inventory.film_id ORDER BY title;
-- DOUBLE INNER JOIN SYNTAX
SELECT title,first_name,last_name FROM film_actor INNER JOIN actor ON film_actor.actor_id= actor.actor_id INNER JOIN film ON film_actor.film_id = film.film_id WHERE first_name = 'Nick' and last_name = 'Wahlberg';</code></pre>
        <dt>Full outer join</dt>
        <dd>Full outer join produces the set of all records in Table A and Table B, with matching records from both sides where available getting repeated.We use it too when we want to have unique records in both tables that is not available in either of them using WHERE.</dd>
        <pre><code lang = 'SQL'>
SELECT * FROM TableB FULL OUTER JOIN TableA ON TableA.col_match = TableA.col_match where TableA.id is null OR TableB.id is null
        </code></pre>
        <dt>Left outer join</dt>
        <dd>Left outer join produces a complete set of records from Table A, with only the matching records (where available) in Table B.To produce the set of records only in Table A, but not in Table B, we perform the same left outer join.Order matters in left outer join in contrast to others discussed above.if we want to have record of data available in Table A, but not in Table B,since left outer join joins all the data present in Table A and only the common one from Table B,we can use WHERE clause.The result of this query has a rows in TableB containing null records which means that, those records are not available in TableA,that's why their result is Null.We can use this NULL to query for null records.</dd> </dd>
        <pre><code lang = 'SQL'>
SELECT *FROM TableA LEFT JOIN TableB ON TableA.col_match = TableA.column match WHERE TableB.id is null.</code></pre>
        <dt>Union</dt>
        <dd>Union operator is used to combine the result-set of two or more SELECT statements.</dd>
<pre><code lang = 'SQL'>SELECT * FROM registrations UNION SELECT * FROM Worker</code></pre>
        <a href='https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/' target ='blank'>for further info</a>
    </dl>
</p>
<h3 class='descText'>TimeStamps</h3>
<p class = "descText">
    <pre><code lang = 'SQL'>select now()
select TIMEOFDAY()
select current_time
select current_date</code></pre>
</p>
<p class = "descText">Let us explore extracting information from time based data type using:
<ol><li>EXTRACT()</li>
    <li>AGE()</li>
    <li>TO_CHAR()</li>
</ol>
Extract allows us to extract sub-component of a date-value.
<pre><code lang = 'SQL'>SELECT EXTRACT(YEAR FROM payment_date) AS year
from payment;</code></pre>
TO_CHAR convert data types to text.
<pre><code lang ='SQL'>SELECT TO_CHAR(payment_date,'MONTH YYYY') FROM payment</code></pre>
<a href= 'https://www.postgresql.org/docs/13/functions-formatting.html'>Template Patterns for Date/Time Formatting for TO_Char function.</a></p>
<p class = 'descText'>Few links to take notice of:</p>
<ul>
<li><a href = 'https://www.postgresql.org/docs/9.5/functions-string.html'>string functions and operators</a></li>
<li><a href = 'https://www.postgresql.org/docs/9.5/functions-datetime.html'>datetime</a></li>
<li><a href = 'https://www.postgresql.org/docs/9.5/functions-numeric.html'>Numeric</a></li>
</ul>
<h3>SELF JOIN</h3>
<p class = "descText">SELF-JOIN allows us to join different column of the same table.Alias is important in self-join as we are taking columns of same table,so different name is necessary to differentiate between them.</p>
<pre><code lang ='SQL'>SELECT movie.title,next.title,movie.length FROM film as movie join film as next ON
movie.film_id != next.film_id AND movie.length = next.length</code></pre>
<video width="420" height="340" controls>
    <source src="/static/videos/self-join.mkv" type="video/mp4">
    Your browser does not support the video tag.
</video>
<h3>Constraints</h3>
<p class="descText">Constraints are rules enforced on tables and columns. These are used to prevent invalid data being entered into the database.Two categories of it are:column constraints and table constraints.Most common constraints are:</p>
<h3>column constraints</h3>
<ol>
    <li>NOT NULL</li>
    <li>UNIQUE</li>
    <li>primary key</li>
    <li>foreign key</li>
    <li>check constraint</li>
    <li>Exclusion</li>   
</ol>
<h3>Table constraints</h3>
<ol>
    <li>check</li>
    <li>references</li>
    <li>unique</li>
    <li>primary key</li>
</ol>
<p class = "descText"> Primary key is unique to the table where as through foreign key we connect to other tables.While using forign key we use key word 'REFERENCES' and has to make sure that the value is same as the table to which it is referencing.</p>
<video width="420" height="340" controls>
    <source src="/static/videos/constraints.mkv" type="video/mp4">
    Your browser does not support the video tag.
</video>
<video width="420" height="340" controls>
    <source src="/static/videos/constraintsExample.mkv" type="video/mp4">
    Your browser does not support the video tag.
</video>

<h3>syntax of check constraint:</h3>
<pre><code lang = 'SQL'>CREATE Table employees(
emp_id SERIAL PRIMARY KEY,
first_name varchar(50) NOT NULL UNIQUE,
last_name varchar(50) NOT NULL,
birthdate DATE check(birthdate > '1900-01-01'),
hire_date DATE check (hire_date > birthdate),
salary INTEGER check(salary > 0)
)</code></pre>
<h3>Condtional expressions and procedures</h3>
<p class = "descText"> We can use CASE statements only when we have certain conditions.It is like if and else statements.There are two main ways of using CASE statements,either using general CASE OR through CASE expression.General case allows all kind of comparisons like between,greater than and many more.  </p><h3>Syntax for general CASE is:</h3>
<pre><code lang = "SQL">select column_name,
CASE
    WHEN condition1 THEN  result1
    WHEN condition2 THEN  result2
    ELSE some_other _result
    END FROM TABLE_NAME
SELECT WORKER,
CASE 
    WHEN WORKER = 'JONES' THEN '1ST'
    CASE WHEN WORKER = 'JACK' THEN '2ND'
    ELSE 'OTHER'
    END FROM COMPANY;
select customer_id,
case 
    when customer_id < 100 THEN 'PREMIUM'
    WHEN customer_id BETWEEN 100 AND 200 THEN 'PLUS'
    ELSE 'NORMAL'
    END AS Customer_Category
    from customer;    
</code></pre>
<pre>Unlike general Case,Case expression  checks only for one condition like equal to. </pre>
<h3>Syntax for CASE expression:</h3>
<pre><code lang ='SQL'>
SELECT column_name,
CASE expression
    WHEN value1 THEN  result1
    WHEN value2 THEN  result2
    ELSE some_other_result
    END FROM TABLE_NAME;
SELECT WORKER,
CASE WORKER 
    WHEN 1 THEN 'JONES'
    WHEN 2 THEN 'JACK'
    ELSE 'OTHER'
    END FROM COMPANY;
SELECT 
 SUM(case rental_rate
    when 0.99 THEN 1
    ELSE 0
    END) as bargains,
 SUM(case rental_rate
    when 4.99 THEN 1
    ELSE 0
    END) as premium
    from film
</code></pre>
<h3>COALESCE FUNCTION</h3>
<p class="descText">COALESCE FUNCTION accepts unlimited number of arguments.It returns the first argument that is not null and if all arguments are null then the function will return null.It  becomes useful when we are querying a table that contains null values and want to  substitute with another value.For example we have table of products and want to find out the final cost after discount have been given but there is one column where the amount of discount is not mentioned .In such cases coaslesce function is useful and makes us easier to work with NULL values. </p>
<pre><code lang = 'SQL'>
SELECT item,(price - COALESCE(discount,0))
</code></pre>
<h3> CAST</h3>
<p class = "descText">CAST operator let us convert from one data type to another but we have to keep in mind that all data type  cannot be CAST to another data type.For example it is reasonable to convert string '5' to integer 5 not string'five'.Though it is more appropriate to use CAST in a column name instead of a single instance as said in the example.</p>
<pre><code lang = 'SQL'>
SQL CAST SYNTAX
SELECT CAST('5' AS INTEGER)
select CHAR_LENGTH(cast(inventory_id AS VARCHAR)) from rental;
POSTGRESQL CAST SYNTAXE
SELECT '5':: INTEGER
select CHAR_LENGTH(inventory_id :: VARCHAR )from rental;
</code></pre>
<h3>View</h3>
<p class = "descText">
Often we have to keep querying complex combination of tables and conditions again and again.Instead of performing same query again and again ,we can create a VIEW and just use it instead of writing all those syntaxes again.VIEW doesn't store data physically,it simply stores the query. 
</p>
<pre><code lang = 'SQL'>
create view view_example AS
SELECT first_name,last_name,address FROM customer 
INNER JOIN address
ON customer.address_id = address.address_id
select * from view_example
</code></pre>
<h3>IMPORT/EXPORT in POSTGRESQL</h3>
<video width="420" height="340" controls>
    <source src="/static/videos/import_export.mkv" type="video/mp4">
    Your browser does not support the video tag.
</video>
{% endblock %}