{% extends 'basis.html' %}
{% block title %}
<title>mysql</title>
{% endblock %}
{% block body %}
<!-- <p><a href="http://127.0.0.1:8080/" id ="toTheRight">Back to contents</a></p> -->
<p class = "descText">Here’s the command to start the console, logging in as the MySQL database administrator (which uses the root user ID):</p>
<pre><code lang="python">mysql -u root -p</code></pre>
<p class = "descText">Here’s the console command that creates our database:
    <pre><code lang ="python">mysql> create database vsearchlogDB;</code></pre>
</p>
<p class = "descText">Here’s the SQL statement we used to create the required table (called log).
    <pre><code>mysql> create table log</code></pre>
    </p>
<p class = "descText">    
    This next command creates a new MySQL user called vsearch, uses “vsearchpasswd” as the new user’s password, and gives the vsearch user full rights to the vsearchlogDB database:
    </p>
    <pre><code lang="python">CREATE USER 'newuser'@'localhost' IDENTIFIED BY 'password';
GRANT ALL PRIVILEGES ON * . * TO 'newuser'@'localhost';</code></pre>
<p class = "descText">The asterisks in this command refer to the database and table (respectively) that they can access.</p>
<p class = "descText">Once you have finalized the permissions that you want to set up for your new users, always be sure to reload all the privileges.</p>
<pre><code lang="python">FLUSH PRIVILEGES;</code></pre>
<p class = "descText">
    To provide a specific user with a permission, you can use this framework:

<pre><code lang ="python">GRANT type_of_permission ON database_name.table_name TO 'username'@'localhost';</code></pre>
 
<p class = "descText">If you want to give them access to any database or to any table, make sure to put an asterisk (*) in the place of the database name or table name.

Each time you update or change a permission be sure to use the Flush Privileges command.

If you need to revoke a permission, the structure is almost identical to granting it:</p>

<pre><code lang ="python">REVOKE type_of_permission ON database_name.table_name FROM 'username'@'localhost';</code></pre>
 
<p class = "descText">Note that when revoking permissions, <b>the syntax requires that you use FROM, instead of TO </b>as we used when granting permissions.

You can review a user’s current permissions by running the following:</p>

<pre><code>SHOW GRANTS FOR 'username'@'localhost';</code></pre>
<p class = "descText"> 
Just as you can delete databases with DROP, you can use DROP to delete a user altogether:</p>

<pre><code lang ="python">DROP USER 'username'@'localhost';</code></pre>
</p>
<p class = "descText">The simplest thing is to cancel the query. However, you cannot just type \c in this case, because mysql interprets it as part of the string that it is collecting. Instead, enter the closing quote character (so mysql knows you've finished the string), then type \c:
    <pre><code>mysql> SELECT * FROM my_table WHERE name = 'Smith AND age < 30;
        '> '\c</code></pre></p>
    <P class = "descText">The prompt changes back to mysql>, indicating that mysql is ready for a new query.
    The `> prompt is similar to the '> and "> prompts, but indicates that you have begun but not completed a back-tick-quoted identifier.It is important to know what the '>, ">, and `> prompts signify, because if you mistakenly enter an unterminated string, any further lines you type appear to be ignored by mysql—including a line containing QUIT. This can be quite confusing, especially if you do not know that you need to supply the terminating quote before you can cancel the current query.</p>
<p class = "descText"><pre><code lang = "SQL">
    show databases; You can check the available databases 
    create database [db_name];
    use [db_name]; start using the database
    drop database [db_name]
    
    create table [table_name] (col1 , col2, col3 , col4......);
    eg user
    
    show tables;
    desc [tb_name]; it describes the table.
    drop table [table_name];
    
    alter table [old table name] rename to [new name];
    truncate table [table_name];
    
    insert into [table_name](id,name,city) values(12,'durgesh','delhi');  
    -- SQL INSERT INTO Statement is used to add new rows of data to a table in the database.
    insert into [table_name] values(12,'ankit','kanpur');
    
    alter table [table_name] add col1;
    update [table_name] set col= value , col = value where col=value;
    UPDATE favorites SET title="toy story first" where Title="Toy Story";

    delete from [table_name] where col=value;

    SELECT COUNT(DISTINCT rating)FROM film;

    --SQL query to print details of the Workers whose FIRST_NAME contains 'a'.
    SELECT * FROM Worker where FIRST_NAME LIKE ‘%a%‘;

    --SQL query to print details of the Workers whose FIRST_NAME ends with 'a'.
    SELECT * FROM Worker where FIRST_NAME LIKE ‘%a’;

    --SQL query to print details of the Workers whose FIRST_NAME ends with 'h' and contains six alphabets.
    SELECT * FROM Worker where FIRST_NAME LIKE '%h%' AND   LENGTH(FIRST_NAME) = 6 ;

    --SQL query to print details of the Workers who have joined in Feb’2014
    SELECT * FROM Worker where year(JOINING_DATE) ='2014' and month(JOINING_DATE) = '2';
    
    --To print details of workers excluding first names, "Vipul" and "Satish" from Worker table.
    SELECT * FROM Worker where FIRST_NAME NOT IN(‘Vipul’,‘Satish’);
    

    Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.
    </code></pre></p>
<p class = "descText">Extract 3 characters from a string, starting in position 1:
    <pre><code lang ="python">SELECT SUBSTRING('SQL Tutorial', 1, 3)</code></p>
<p class = "descText">conactinating<pre><code lang="python">select CONCAT(FIRST_NAME,' ',LAST_NAME)FROM Worker;</code></pre></p>

<p class = "descText">COLLATE let us make our query case sensitive which  normally is insensitive.Here we are querying  for 'a' not 'A' in Amitabh and collate let us do that.We can do it in two ways : One when constructing a  new database and other when we are querying for something.At the time of constructing a database:</p>
<pre><code lang="python">CREATE DATABASE db_name
    [[DEFAULT] CHARACTER SET charset_name]
    [[DEFAULT] COLLATE collation_name]</code></pre>
<p class = "descText">charset refers to set of symbols and collate is the rules by which they are compared.We can't have any collation name.There is certain list of collation name and charset rules which we are bound to use.    </p>
<pre><code lang="python">SELECT POSITION('a' in (SELECT FIRST_NAME FROM WORKER WHERE FIRST_NAME COLLATE utf8mb4_0900_as_cs ='Amitabh')COLLATE utf8mb4_0900_as_cs)</code></pre></pre>
<p>When we need to replace, the pattern is (string from which replacement is to be done,old string,new one to be repalced with )</p>
<pre><code lang ="python">SELECT REPLACE(FIRST_NAME,'A','a')from Worker;</code></pre>

<p class = "descText">
    <pre><code lang = 'SQL'>
    -- To just print the date from the date section of database where there is date and time both ,use the function DATE(column name):
    SELECT DATE(PAYMENT_DATE) FROM payment; 
    </code></pre>
</p>

   <pre><code lang = "python"> mysql> use learn;

    mysql> show tables;
    +-----------------+
    | Tables_in_learn |
    +-----------------+
    | student         |
    +-----------------+
    1 row in set (0.00 sec)</code></pre>
    
<pre><code lang = "python">
mysql> select * from student;
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
|       23 | ankit   | delhi   | ind     |
|       24 | sanket  | lucknow | india   |
|      234 | ishant  | lucknow | india   |
|      246 | sumit   | lucknow | india   |
|     2334 | aman    | kanpur  | india   |
| 24234236 | ramsigh | lucknow | india   |
+----------+---------+---------+---------+
6 rows in set (0.00 sec)

</code></pre>
<pre><code lang = "python">
mysql> select * from student where city='lucknow';
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
|       24 | sanket  | lucknow | india   |
|      234 | ishant  | lucknow | india   |
|      246 | sumit   | lucknow | india   |
| 24234236 | ramsigh | lucknow | india   |
+----------+---------+---------+---------+
4 rows in set (0.00 sec)

</code></pre>
<pre><code class="python">mysql> select name,city,country from student where country='india';
    +---------+---------+---------+
    | name    | city    | country |
    +---------+---------+---------+
    | sanket  | lucknow | india   |
    | ishant  | lucknow | india   |
    | sumit   | lucknow | india   |
    | aman    | kanpur  | india   |
    | ramsigh | lucknow | india   |
    +---------+---------+---------+
</code></pre>
<pre><code class="python">
mysql> select distinct(country) from student;
+---------+
| country |
+---------+
| ind     |
| india   |
+---------+
2 rows in set (0.00 sec)

</code></pre>
<pre><code class="python">
mysql> select name as  "USERNAME" , city as "CITYNAME" from student ;
    +----------+----------+
    | USERNAME | CITYNAME |
    +----------+----------+
    | ankit    | delhi    |
    | sanket   | lucknow  |
    | ishant   | lucknow  |
    | sumit    | lucknow  |
    | aman     | kanpur   |
    | ramsigh  | lucknow  |
    +----------+----------+
    6 rows in set (0.00 sec)
</code></pre>   
<pre><code lang = "python">
mysql> select name as  "USERNAME" , city as "CITYNAME" from student ;
+----------+----------+
| USERNAME | CITYNAME |
+----------+----------+
| ankit    | delhi    |
| sanket   | lucknow  |
| ishant   | lucknow  |
| sumit    | lucknow  |
| aman     | kanpur   |
| ramsigh  | lucknow  |
+----------+----------+
6 rows in set (0.00 sec)

mysql> select * from student limit 4;
+-----+--------+---------+---------+
| id  | name   | city    | country |
+-----+--------+---------+---------+
|  23 | ankit  | delhi   | ind     |
|  24 | sanket | lucknow | india   |
| 234 | ishant | lucknow | india   |
| 246 | sumit  | lucknow | india   |
+-----+--------+---------+---------+
4 rows in set (0.00 sec)

mysql> select * from student limit 2 offset 2;
+-----+--------+---------+---------+
| id  | name   | city    | country |
+-----+--------+---------+---------+
| 234 | ishant | lucknow | india   |
| 246 | sumit  | lucknow | india   |
+-----+--------+---------+---------+
2 rows in set (0.00 sec)

mysql> select * from student order by id; ( order arranges in ascending order.)
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
|       23 | ankit   | delhi   | ind     |
|       24 | sanket  | lucknow | india   |
|      234 | ishant  | lucknow | india   |
|      246 | sumit   | lucknow | india   |
|     2334 | aman    | kanpur  | india   |
| 24234236 | ramsigh | lucknow | india   |
+----------+---------+---------+---------+
6 rows in set (0.00 sec)

mysql> select * from student order by id desc; it arranges in descending order.
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
| 24234236 | ramsigh | lucknow | india   |
|     2334 | aman    | kanpur  | india   |
|      246 | sumit   | lucknow | india   |
|      234 | ishant  | lucknow | india   |
|       24 | sanket  | lucknow | india   |
|       23 | ankit   | delhi   | ind     |
+----------+---------+---------+---------+
6 rows in set (0.00 sec)

mysql> select * from student order by id desc limit 2;
+----------+---------+---------+---------+
| id       | name    | city    | country |
+----------+---------+---------+---------+
| 24234236 | ramsigh | lucknow | india   |
|     2334 | aman    | kanpur  | india   |
+----------+---------+---------+---------+
2 rows in set (0.00 sec)

mysql> select * from student where name like 'a%';
+------+-------+--------+---------+
| id   | name  | city   | country |
+------+-------+--------+---------+
|   23 | ankit | delhi  | ind     |
| 2334 | aman  | kanpur | india   |
+------+-------+--------+---------+
2 rows in set (0.00 sec)

SELECT for searching the name which start with 'a'.If we put % at the beginnig,it will filter the names ending with a and if % is like this(%a%),it will come up with all those queries where a is used.
syntax for this :
select * from students where name Like  "%a%";

The following SQL statement selects all customers with a City starting with any character, followed by "ondon":

Example
SELECT * FROM Customers
WHERE City LIKE '_ondon';
lIKE IS CASE SENSITIVE WHEN ILIKE IS NOT. when instead of LIKE WE USE ILIKE IT DOESNOT MATTER WHETHER WE ARE SEARCHING FOR 'J' OR 'j'.Underscore allows only single character replacement but we can use many underscores at once.

mysql> select MIN(id) from student;
+---------+
| MIN(id) |
+---------+
|      23 |
+---------+
1 row in set (0.00 sec)

mysql> select name from student where id = (select MIN(id) from student) ;
+-------+
| name  |
+-------+
| ankit |
+-------+
1 row in set (0.00 sec)

mysql> select name from student where id = (select MAX(id) from student) ;
+-----------+
| name      |
+-----------+
| ram singh |
+-----------+
1 row in set (0.00 sec)

</code></pre>
<p class = "descText">finally join statement which let us query between two or more tables based on something that joins it.</p>
<a href="static/img/connector.png" target="_blank">
    <img class = "img"src = "/static/img/connector.png"/>
</a>
<p class = "descText">The MySQL Connectors  are the drivers and libraries that you use to connect applications in different programming languages to MySQL database servers. The application and database server can be on the same machine, or communicate across the network.MySQL Connector/Python enables Python programs to access MySQL databases, using an API that is compliant with the Python Database API.</p>
<p class = "descText">SELECT UPPER(FIRST_NAME) FROM worker</p>   
</p>
<p class = "descText">Converting scv file into MySQL database:</p>
<p class = "descText">
    <pre><code class="python">
        sqlite3 name of database
        sqlite3 favorites.db
        .mode csv
        .import "csv file name" "sheet name where csv file will be converted into into a database"
        .import favourites.csv favourites
        <!-- Now we can use mysql syntaxes -->
        .schema let us know of design of our database</code></pre>
</p>
<ol>
    <li>GROUP BY comes after from clause or where clause,not after ORDER BY or others.</li>
    <li>GROUP BY  should includes all those columns which are included in select statement without using agregate function like MAX,AVG,COUNT.</li>
    <li>GROUP BY function is not called by agregate functions.  </li>
    <p class = "descText"><pre><code lang = 'SQL'>select customer_id, count(amount),sum(amount)FROM payment
        GROUP BY customer_id
        ORDER BY customer_id;
If there is some other column also after customer_id,it should be in GROUP BY call too but not count(amount),sum(amount) as they are agregate function.</code></pre></p>

    </ol>
<video width="420" height="340" controls>
    <source src="/static/groupBy.mkv" type="video/mp4">
    Your browser does not support the video tag.
  </video>
<video width="420" height="340" controls>
    <source src="/static/groupByExamples.mkv" type="video/mp4">
    Your browser does not support the video tag.
</video>
{% endblock %}