{% extends 'basis.html' %}
{% block title %}
<title>python essentials</title>
{% endblock %}
{% block body %}
<ol>
	Here are some basic argument specifiers you should know:
<li>%s - String (or any object with a string representation, like numbers)
</li>
<li>%d - Integers</li>
<li>%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.
</li>
<li>%x/%X - Integers in hex representation (lowercase/uppercase)</li>
</ol>
<p></p>
<a href="/static/img/attributesMethods.png" target ="blank"><img class = "img" src = "/static/img/attributesMethods.png"></a>
<a href="/static/img/hasAndDoes.png" target ="blank"><img class = "img" src = "/static/img/hasAndDoes.png"></a>
<a href="/static/img/classAndObj.png" target ="blank"><img class = "img" src = "/static/img/classAndObj.png"></a>
<p>Python eval() function parse the expression argument and evaluate it as a python expression and runs Python expression(code), If the expression is an int representation, Python converts the argument to an integer.</p>
<pre><code lang ="python">
lis = ['1', '-4', '3', '-6', '7']
res = [eval(i) for i in lis]
print("Modified list is: ", res)
Output:

Modified list is: [1, -4, 3, -6, 7]

</code></pre>
{% endblock %}
